* {
    margin: 0px;
    padding: 0px;
}

#hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.top1 {
    color: rgb(245, 10, 10);
    text-align: center;
    font-size: 46px;
    font-family: 'Oswald', sans-serif;
}

.top2 {

    text-align: center;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
}

.top3 {

    text-align: center;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    margin-top: 10px;
}

.navbar img {
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 3px 0px;
    /* width: 100vw; */
    height: 14vh;
    font-family: 'Oswald', sans-serif;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 15px;
}

.navcontent {
    display: flex;
    justify-content: center;
}

ul li {
    padding: 10px;
    list-style: none;
    border-radius: 15px;
    /* padding: 15px; */
}

ul li a {
    padding: 7px;
    color: black;
    text-decoration: none;
}

ul li a:hover {
    background-color: rgb(150, 10, 10);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.container1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 63vh;
    width: 100vw;


}

.container1::before {
    content: '';
    background: url("1.avif") no-repeat center center/cover;
    width: 100vw;
    height: 59vh;
    position: absolute;
    /* top:0px; */
    /* left: 0px; */
    font-family: 'Ubuntu Mono', monospace;
    margin-right: 45px;
    font-weight: bold;
    z-index: -1;
    opacity: 0.9;
    border: 2px solid black;
    border-bottom-left-radius: 100px;
}



.row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0px;
    /* padding: ; */
}

.row1 button {
    margin: 20px 0px;
}

.button {
    border: 3px solid white;
    border-radius: 15px;
    background-color: yellow;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    width: 118px;
    margin-bottom: 10px;
}

.button:hover {
    cursor: pointer;
    background-color: red;
    transition: all 0.5s ease-in-out;
    transform:scale(1.01);
}


.row2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 100%;

}

.row2 .first {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 300px;
    height: 30vh;
    border-radius: 40px;
    box-shadow: 2px 2px 10px 10px black;

}

.row2 .first::before {
    content: " ";
    background: url("chef.avif") no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    width: 300px;
    height: 30vh;
    border-radius: 40px;

}

.row2 .second {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 300px;
    height: 30vh;
    border-radius: 40px;
    box-shadow: 2px 2px 10px 10px black;


}

.row2 .second::before {
    content: " ";
    background: url("1.avif") no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    width: 300px;
    height: 30vh;
    border-radius: 40px;
    box-shadow: 2px 2px 10px 10px black;


}

.container2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 63vh;

}

.row3 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 50px;

}

.row3 .first {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 400px;
    height: 40vh;
    border-radius: 40px;
    box-shadow: 2px 2px 10px 10px black;


}

.row3 .first::before {
    content: " ";
    background: url("2.avif") no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 40vh;
    border-radius: 40px;

}

.row3 .second {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 400px;
    height: 40vh;
    border-radius: 40px;
    box-shadow: 2px 2px 10px 10px black;


}

.row3 .second::before {
    content: " ";
    background: url("3.avif") no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 40vh;
    border-radius: 40px;
    box-shadow: 2px 2px 10px 10px black;


}

.row3 .third {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 400px;
    height: 40vh;
    border-radius: 40px;
    box-shadow: 2px 2px 10px 10px black;


}

.row3 .third::before {
    content: " ";
    background: url("4.avif") no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 40vh;
    border-radius: 40px;
    box-shadow: 2px 2px 10px 10px black;


}

footer {
    text-align: center;
    font-weight: 1000;
}